<style>
  .card-body {
	  line-height: 1.5;
  }
  #login{
    font-family: sans-serif;
    width: 500px;
    height: 400px;
    left: 25%;
    text-align: center;
    border-radius: 15px;
  }
  #admintext{
    color:sienna;
    font-size: 1.5em;
    background-color: white;
    margin: 30px;
    border:none;
    outline:none;
  }
  #inputID, #inputPW{
    border-bottom: 1px solid gray;
  }
  #uid, #upassword{
    width: 100%;
    border:none;
    outline:none;
    color: #636e72;
    font-size:16px;
    height:40px;
  }
  #loginBtn{
    width:100%;
    background: linear-gradient(45deg,beige,brown,khaki);
    background-position: left;
    background-size: 300%;
    color:white;
    font-weight: bold;
    border:none;
    transition: 0.5s;
    cursor:pointer;
  }
  #loginBtn:hover{
    background-position: right;
  }
</style>

<div id="login" class="card m-5">
  <div id="admintext" class="card-header font-weight-bold">
      관리자 로그인
  </div>
  <div class="card-body">
    <form>
      <div id="inputID" class="form-group mb-4">
        <input id="uid" type="text" class="form-control" ng-model="user.uid" autocomplete="username" placeholder="ID">
      </div>
      <div id="inputPW" class="form-group mb-5">
        <input id="upassword" type="password" class="form-control" ng-model="user.upassword" autocomplete="current-password" placeholder="PW">
      </div>
      <div id="loginForm" class="text-center mb-4">
        <button id="loginBtn" class="btn btn-outline-dark" ng-click="login(user)">로그인</button>
      </div>
    </form>
  </div>
</div>