<style>
  #userList{
    margin-left: 50px;
    margin-right:50px;
  }
</style>

<div id="userList" class="card-body">
  <div class="input-group input-group-sm mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text font-weight-bold" id="inputGroup-sizing-sm">Search</span>
    </div>
    <input type="text" class="form-control" aria-label="Small" ng-change="search(keyword)"
    aria-describedby="inputGroup-sizing-sm" ng-model="keyword" maxlength="30">
  </div>
  <div>
    <table class="table table-bordered">
        <tr class="font-weight-bold" style="background-color: gray; color:white;">
            <th>회원아이디</th>
            <th>성함</th>
            <th>이메일</th>
        </tr>
        <tr ng-repeat="user in users">
            <td><a ng-click="read(user.user_id)" href="">{{user.user_id}}</a></td>
            <td class="text-secondary">{{user.user_name}}</td>
            <td class="text-danger">{{user.user_email}}</td>
        </tr>
        <tr>
          <td colspan="5" style="text-align: center;">
              <button class="btn btn-outline-dark btn-sm" 
                          ng-click="getList(1)">처음</button> 
              <button   class="btn btn-outline-secondary btn-sm" 
                          ng-show="pager.groupNo>1" 
                          ng-click="getList(pager.startPageNo-1)">이전</button>
              <button ng-repeat="i in pageRange"
                        class="btn btn-sm {{(pager.pageNo==i)?'btn-secondary':'btn-outline-secondary'}} {{!$last?'mr-1':''}}" 
                          ng-click="getList(i)">{{i}}</button>
              <button   class="btn btn-outline-secondary btn-sm" 
                          ng-show="pager.groupNo < pager.totalGroupNo" 
                          ng-click="getList(pager.endPageNo+1)">다음</button>
              <button class="btn btn-outline-dark btn-sm" 
                          ng-click="getList(pager.totalPageNo)">맨끝</button>
          </td>
        </tr>
    </table>
  </div>
</div>